@model EntityLayer.Concrete.Admin
@{
    ViewBag.Title = "UpdateAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kullanıcı Güncelleme</h2>


@using (Html.BeginForm("UpdateAdmin", "AdminAuth", FormMethod.Post))
{

    <div class="form-group">
        @Html.HiddenFor(c => c.AdminId, new { @class = "form-control" })
        @Html.HiddenFor(c => c.AdminRole, new { @class = "form-control" })
        @Html.HiddenFor(c => c.AdminUserName, new { @class = "form-control" })
        <br />
        @Html.Label("Kullanıcı Adı")
        @Html.TextBoxFor(c => c.AdminUserName, new { @class = "form-control" })
        <br />
        @Html.Label("Yetkisi")
        @Html.DropDownListFor(c => c.AdminRole, (List<SelectListItem>)ViewBag.valueAdmin, new { @class = "form-control" })
        <br />

        <button class="btn btn-success">Güncelle</button>


    </div>
}