@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "UpdateHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Başlık Güncelleme Sayfası</h2>
@using (Html.BeginForm("UpdateHeading", "AdminHeading", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Başlık ID")
    @Html.TextAreaFor(x => x.HeadingId, new { @class = "form-control" })
    <br />
    @Html.Label("Başlık Adı")
    @Html.TextAreaFor(x => x.HeadingName, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextAreaFor(x => x.HeadingDate, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar ID")
    @Html.TextAreaFor(x => x.WriterId, new { @class = "form-control" })
    <br />
    @Html.Label("Kategori Adı")
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.categoryValue, new { @class = "form-control" })
    <br /><br />
    <button class="btn btn-info">Güncelle</button>
</div>
}

